<!DOCTYPE html>
<html lang="ja-jp">
<head>
  <meta charset="UTF-8">
  <title>Test Webpack</title>
</head>
<body>
  <header>
    header
  </header>
  <main>
    main
    <img src="../images/150x150.png">
  </main>
  <footer>
    footer
  </footer>
</body>
</html>
